.code {
	display: block;
    padding: 9.5px;
    margin: 0 0 14px;
    font-size: 13px;
    line-height: 1.42857143;
    /*word-break: break-all;*/
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
}

.keyword {
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
}